@nav-bg: #fff;
@nav-txt: #000;
@accent-color: #86AE9A;

body {
    font-family: 'Lato', sans-serif;
}

/* STRUCTURE */

.main-container {
    margin: 5rem 0 2rem 0;
    text-align: center;
}

.major-section {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 4rem;
}

.portfolio-links-container {
    margin-bottom: 2.5rem;
}

/* NAVIGATION */

.nav {
    background-color: @nav-bg;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 100%;
    z-index: 9999;
}

.js-nav-shadow {
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

.nav ul {
    background-color: @nav-bg;
    list-style: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

.nav-link {
    color: @nav-txt;
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:visited {
        color: @nav-txt;
    }
}

.active {
    font-weight: 700;
}

.logo {
    display: block;
    float: left;
    padding: 20px;
    text-decoration: none;
}

.nav-menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 2.15rem 1.6rem;
    position: relative;
}

.navicon {
    background: @nav-txt;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    &:before,
    &:after {
        background: @nav-txt;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    &:before {
        top: 5px;
    }
    &:after {
        top: -5px;
    }
}

.menu-btn {
    display: none;
    &:checked ~ .nav-menu {
        max-height: 240px;
    }
    &:checked ~ .menu-icon .navicon {
        background: transparent;
        &:before {
            transform: rotate(-45deg);
        }
        &:after {
            transform: rotate(45deg);
        }
    }
    &:checked ~ .menu-icon .navicon {
        &:before,
        &:after {
            top: 0;
        }
    }
}

/* HEADINGS */

h1 {
    font-size: 2.618rem;
}

h2 {
    font-size: 1.618rem;
}

.section-heading,
.section-subheading {
    text-transform: uppercase;
}

.section-heading {
    margin: 4rem 0 2rem 0;
}

.section-subheading {
    margin: 2.5rem 0 0 0;
}

/* TYPOGRAPHY */

.section-text {
    line-height: 1.5;
    margin: 1rem 1rem;
    text-align: left;
}

/* BUTTONS */

.btn {
    background-color: #000;
    border: 0;
    border-radius: 26px;
    color: white;
    font-weight: 700;
    padding: 1rem;
    -moz-transition: 0.15s ease all;
    -o-transition: 0.15s ease all;
    -webkit-transition: 0.15s ease all;
    transition: 0.15s ease all;
    width: 9rem;
    &:hover {
        cursor: pointer;
        background-color: @accent-color;
    }
    &:focus {
        outline: none;
    }
}

/* MEDIA */

.tw-logo {
    margin: 8px 0 0 8px;
}

.tw-desktop-logo,
.tw-mobile-logo {
    float: left;
}

.tw-desktop-logo {
    display: none;
}

.tw-mobile-logo {
    color: @nav-txt;
    display: block;
    float: left;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.tw-portrait {
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem auto;
    width: 75%;
}

.portfolio-thumbnail {
    width: 100%;
}

.skill-container {

}

.skill-icon-container {
    display: inline-block;
    text-align: center;
}

.skill-icon {
    display: block;
    font-size: 3rem;
    padding: 1rem 0.5rem;
}

.contact-icon {
    color: #000;
    -moz-transition: 0.15s ease all;
    -o-transition: 0.15s ease all;
    -webkit-transition: 0.15s ease all;
    transition: 0.15s ease all;
    &:hover {
        color: @accent-color;
    }
}

/* UTILITY CLASSES */

/* Removes the bottom border from a container */
.no-border-bottom {
    border-bottom: 0;
}

/* Removes the bottom padding from a container */
.no-padding-bottom {
    padding-bottom: 0;
}

/* Removes the bottom margin from a container */
.no-margin-bottom {
    margin-bottom: 0;
}

/* RESPONSIVENESS */

@media only screen and (min-width: 375px) {
    .skill-icon {
        padding: 1rem 1rem;
    }
}

@media only screen and (min-width: 414px) {
    .skill-icon {
        padding: 1rem 1.5rem;
    }
}

@media only screen and (min-width: 672px) {
    .main-container {
        margin: 5rem auto 2rem auto;
        width: 40rem;
    }

    .portfolio-links-container {
        margin-bottom: 4rem;
    }

    .nav-wrapper {
        margin: 0 auto;
        width: 40rem;
    }

    .major-section {
        padding-bottom: 8rem;
    }

    .no-padding-bottom {
        padding-bottom: 0;
    }

    .section-heading {
        margin: 8rem 0 4rem 0;
    }

    .section-subheading {
        margin: 4rem 0 0 0;
    }

    .section-text {
        margin: 2rem 0;
    }

    .no-margin-bottom {
        margin-bottom: 0;
    }

    .nav-item {
        float: left;
    }

    .nav-link {
        margin: 1.618rem 0.809rem 1.236rem 0.809rem;
        padding: 0 0 0.382rem;
        &:hover {
            border-bottom: 1px solid @accent-color;
        }
    }

    .nav-menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .menu-icon {
        display: none;
    }

    .tw-portrait {
        margin: 0 auto 2rem auto;
    }

    .tw-logo {
        float: left;
    }

    .active {
        border-bottom: 1px solid @accent-color;
        font-weight: 700;
    }
}
