body {
  font-family: 'Lato', sans-serif;
}
/* STRUCTURE */
.main-container {
  margin: 5rem 1rem 2rem 1rem;
  text-align: center;
}
.major-section {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 3.5rem;
  padding-bottom: 3rem;
}
.portfolio-links-container {
  margin-bottom: 2.5rem;
}
/* Removes the bottom border from a container (this is used on the 'Contact' section because I didn't want a bottom border there) */
.no-border-bottom {
  border-bottom: 0;
}
/* Removes the bottom padding from a container (this is used on the 'Contact' section to reduce extra white space at the bottom of the page) */
.no-padding-bottom {
  padding-bottom: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
/* NAVIGATION */
.nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.js-nav-shadow {
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.nav ul {
  background-color: #fff;
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}
.nav-link {
  color: #000;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:visited {
  color: #000;
}
.active {
  font-weight: 700;
}
.logo {
  display: block;
  float: left;
  padding: 20px;
  text-decoration: none;
}
.nav-menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
}
.navicon {
  background: #000;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.navicon:before,
.navicon:after {
  background: #000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.navicon:before {
  top: 5px;
}
.navicon:after {
  top: -5px;
}
.menu-btn {
  display: none;
}
.menu-btn:checked ~ .nav-menu {
  max-height: 240px;
}
.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:before,
.menu-btn:checked ~ .menu-icon .navicon:after {
  top: 0;
}
/* HEADINGS */
h1 {
  font-size: 2.618rem;
}
h2 {
  font-size: 1.618rem;
}
.section-heading,
.section-subheading {
  text-transform: uppercase;
}
.section-heading {
  margin: 3.5rem 0 1rem 0;
}
.section-subheading {
  margin-top: 2.5rem;
}
/* TYPOGRAPHY */
.section-text {
  line-height: 1.5;
  text-align: left;
}
/* BUTTONS */
.btn {
  background-color: #000;
  border: 0;
  border-radius: 26px;
  color: white;
  font-weight: 700;
  padding: 1rem;
  -moz-transition: 0.15s ease all;
  -o-transition: 0.15s ease all;
  -webkit-transition: 0.15s ease all;
  transition: 0.15s ease all;
  width: 9rem;
}
.btn:hover {
  cursor: pointer;
  background-color: #86AE9A;
}
.btn:focus {
  outline: none;
}
/* MEDIA */
.tw-desktop-logo,
.tw-mobile-logo {
  float: left;
}
.tw-desktop-logo {
  display: none;
}
.tw-mobile-logo {
  color: #000;
  display: block;
  float: left;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.tw-portrait {
  border-radius: 50%;
}
.tw-portrait,
.portfolio-thumbnail {
  width: 100%;
}
.skill-icon-container {
  display: inline-block;
  text-align: center;
}
.skill-icon {
  display: block;
  font-size: 5rem;
  padding: 1rem 0.5rem;
}
.contact-icon {
  color: #000;
  -moz-transition: 0.15s ease all;
  -o-transition: 0.15s ease all;
  -webkit-transition: 0.15s ease all;
  transition: 0.15s ease all;
}
.contact-icon:hover {
  color: #86AE9A;
}
/* RESPONSIVENESS */
@media only screen and (min-width: 375px) {
  .skill-icon {
    padding: 1rem 1rem;
  }
}
@media only screen and (min-width: 414px) {
  .skill-icon {
    padding: 1rem 1.5rem;
  }
}
@media only screen and (min-width: 672px) {
  .main-container {
    margin: 5rem auto 2rem auto;
    width: 40rem;
  }
  .major-section {
    margin-bottom: 5rem;
    padding-bottom: 4.5rem;
  }
  .no-padding-bottom {
    padding-bottom: 0;
  }
  .no-margin-bottom {
    margin-bottom: 0;
  }
  .section-heading {
    margin: 5rem 0 1rem 0;
  }
  .nav-item {
    float: left;
  }
  .nav-link {
    margin: 20px 15px 0 15px;
    padding: 0 0 5px 0;
  }
  .nav-link:hover {
    border-bottom: 1px solid #86AE9A;
  }
  .nav-menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-icon {
    display: none;
  }
  .active {
    border-bottom: 1px solid #86AE9A;
    font-weight: 700;
  }
}
@media only screen and (min-width: 1081px) {
  .nav-link {
    margin: 1.618rem 0.809rem 1.236rem 0.809rem;
    padding: 0 0 0.382rem;
  }
  .nav-menu {
    float: none;
    margin: 0 auto;
    width: 19.5rem;
  }
  .menu-icon {
    display: none;
  }
  .tw-desktop-logo {
    display: block;
    padding: 20px;
    width: 8rem;
  }
  .tw-mobile-logo {
    display: none;
  }
}
@media only screen and (min-width: 1581px) {
  .main-container {
    float: none;
    margin: 5rem auto 2rem auto;
  }
}
