body {
  font-family: 'Open Sans', sans-serif;
}
/* STRUCTURE */
.main-container {
  margin-top: 5rem;
  margin: 5rem 0 2rem 0;
  text-align: center;
}
.major-section {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}
.portfolio-links-container {
  margin-bottom: 2.5rem;
}
/* This class is used to remove the bottom margin from whichever container its applied to to preserve spacing between containers */
.no-border-bottom {
  border-bottom: 0;
  padding-bottom: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
/* NAVIGATION */
.nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.nav ul {
  background-color: #fff;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.nav-link {
  color: #000;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  background-color: #dedede;
}
.nav-link:visited {
  color: #000;
}
/* FOR ACTIVE CLASSES */
.nav-link-active {
  border-bottom: 1px solid #fbdb00;
  margin: 75px 15px 0 15px;
  padding: 0 0 5px 0;
}
.logo {
  display: block;
  float: left;
  padding: 20px;
  text-decoration: none;
}
.nav-menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
}
.navicon {
  background: #000;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.navicon:before,
.navicon:after {
  background: #000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.navicon:before {
  top: 5px;
}
.navicon:after {
  top: -5px;
}
.menu-btn {
  display: none;
}
.menu-btn:checked ~ .nav-menu {
  max-height: 240px;
}
.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:before,
.menu-btn:checked ~ .menu-icon .navicon:after {
  top: 0;
}
/* HEADINGS */
.section-heading,
.section-subheading,
.section-sub-subheading {
  text-transform: uppercase;
}
.section-heading {
  margin: 5rem 0 1rem 0;
}
.section-subheading {
  margin-top: 2.5rem;
}
.section-sub-subheading {
  margin-top: 1.5rem;
}
/* TYPOGRAPHY */
.section-text {
  line-height: 1.4;
  margin: 1rem 0.5rem;
  text-align: justify;
}
/* BUTTONS */
.btn {
  background-color: #fbdb00;
  border: 0;
  padding: 1rem;
  width: 7rem;
}
.btn:hover {
  cursor: pointer;
}
/* MEDIA */
.tw-desktop-logo,
.tw-mobile-logo {
  float: left;
}
.tw-desktop-logo {
  display: none;
}
.tw-mobile-logo {
  color: #000;
  display: block;
  float: left;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.tw-portrait,
.portfolio-thumbnail {
  width: 100%;
}
.skill-icon-container {
  display: inline-block;
  text-align: center;
}
.skill-icon {
  display: block;
  font-size: 5rem;
  padding: 0.5rem;
}
/* RESPONSIVENESS */
@media only screen and (min-width: 600px) {
  .nav-item {
    float: left;
  }
  .nav-menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-icon {
    display: none;
  }
  .main-container {
    margin: 5rem auto 2rem auto;
    width: 40rem;
  }
  .nav-link {
    border-bottom: 1px solid #fbdb00;
    margin: 20px 15px 0 15px;
    padding: 0 0 5px 0;
  }
  /*
    .major-section {
        padding-bottom: 5rem;
        border-bottom: 1px solid #e0e0e0;
    }
    */
}
@media only screen and (min-width: 1081px) {
  .main-container {
    margin: 6rem 0 2rem 43.6%;
  }
  .nav {
    background: none;
  }
  .nav ul {
    background: none;
  }
  .nav-link {
    margin: 75px 15px 0 15px;
    padding: 0 0 5px 0;
  }
  .nav-menu {
    float: left;
  }
  .menu-icon {
    display: none;
  }
  .tw-desktop-logo {
    display: block;
    padding: 20px;
    width: 8rem;
  }
  .tw-mobile-logo {
    display: none;
  }
  /*
    .section-heading {
        margin: 5rem 0 1rem 0;
    }
    */
  /*
    .major-section {
        padding-bottom: 5rem;
        border-bottom: 1px solid #e0e0e0;
    }
    */
}
@media only screen and (min-width: 1581px) {
  .main-container {
    float: none;
    margin: 6rem auto 2rem auto;
    width: 40rem;
  }
}
